.sidebar {
    position: fixed;
    height: 100%;
    z-index: 15;
    transition: .2s ease-in-out;
    transition-property: translate;

    main {
        padding: 1rem 2rem;
        height: 100%;
        background: #111531;
        display: flex;
        flex-direction: column;
        user-select: none;
        gap: 1.5rem;

        hr {
            height: .2rem;
            border-radius: 1rem;
            background: #eef3;
            border: none;
        }
    }

    .shadowOutside {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 200vw;
        background: #0003;
        transition: .2s ease-in-out;
        transition-property: opacity;
    }

    &.show {
        translate: 0;

        .shadowOutside {
            pointer-events: auto;
            opacity: 1;
        }
    }

    &.hide {
        translate: -100%;

        .shadowOutside {
            pointer-events: none;
            opacity: 0;
        }
    }
}

.userInfo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.userImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    border: none;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.userDesc {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
}

.userName, .userEmail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.userName {
    font-weight: bolder;
    font-size: 1.2em;
}

.userEmail {
    font-weight: 300;
    opacity: .75;
}

.listOptions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.option {
    list-style: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: .2s ease-in-out;
    transition-property: background, color;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    ion-icon {
        font-size: 1.4em;
    }

    &:hover {
        background: lighten(#111531, 10);
        color: lighten(#111531, 65);
    }
}

.activeOption {
    pointer-events: none;
    background: #eef;
    color: #111531;
}

.logout {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    color: inherit;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
    transition: .2s ease-in-out;
    transition-property: background, color;
    padding: .4rem .5rem .4rem 1rem;
    border-radius: .5rem;

    ion-icon {
        font-size: 1.5em;
    }

    &:hover {
        background: #f552;
        color: #f66;
    }
}