.homeContent {
    position: relative;
    height: 100%;
    padding: 1rem max(3vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    font-size: clamp(.85rem, 1.6vw, 1.4rem);

    header {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    h3 {
        font-weight: 500;
    }
}

.homeTitle {
    font-size: 1.6em;
    font-weight: 400;

    bolder {
        font-weight: 700;
    }
}

.gridPages {
    position: relative;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 75rem;
    width: 80vw;
    user-select: none;
}

.routeButton {
    flex-grow: 1;
    background: lighten(#111531, 0);
    min-width: 18rem;
    padding: clamp(.75rem, 3vw, 1.5rem);
    font-size: .85em;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out background;

    &:hover {
        background: lighten(#111531, 10);
    }

    h1 {
        display: flex;
        gap: 1rem;
        font-weight: 700;
        align-items: center;

        span {
            background: #eef;
            color: #111531;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .3em;
            border-radius: .3em;
        }
    }

    p {
        margin: .5rem;
        opacity: .8;
    }
}